{% extends 'base.html' %}
{% load static %}
{% block contents %}
{% endblock %}
{% block home %}
<div class="col-lg-5 mx-auto text-center">
    <h1 class="text-white">About Us</h1>
    <p>WHO ARE WE:
        A couple of sporting fanatics just like our customers, trying to solve problems which have troubled us for years.
        <br>
        WHAT WE BELIEVE IN:
        We believe in the motto: "Live to Sport" because let's accept it, playing sports is pretty awesome. Plus it makes you feel awesome.
        <br>
        WHAT ARE WE DOING HERE:
        Solving issues like IDENTIFYING Sports Venues, Cash Payments, AVAILABILITY, Confirmed Bookings !!! Our innovation will take you from Discovery to Checkout in a matter of minutes.
        <br>
        WHAT WE WANT FROM YOU:
        Become a part of our continuously growing family, stay up to date with our Offers & Discounts and help make Kalikkalam better over time.
        <br>
        OUR VISION & MISSION:
        Our Vision is to promote every sport in INDIA and convert Sports from being a Hobby to a Habit in our lives. Our Mission is to become the "ONE SPOT FOR EVERYTHING SPORT".
        
        </p>
  </div>
{% endblock %}