{% extends 'managerbase.html' %}
{% load static %}
{% block contents %}
{% block home %}

</header>
<div>
<div class="hero overlay"  style="background-image: url({% static 'app_static/images/manager.jpg' %});">
  <div class="container" style="contain: layout;">
    <div class="row align-items-center">
      <br><br><br><br>
      <div>
        <h1 style="margin-top: 2cm;color: rgb(248, 248, 248);">Approved Orders</h1>
    </div>
    <br>


<br><br>
<table border="5" style="color: rgb(247, 246, 244);background-color: rgba(250, 235, 215, 0.307);" align="center" ><tr>
    <th style="width: 8cm;">User id</th>
          <th style="width: 8cm;">Name</th>
          <th style="width: 8cm;">Email</th>
          <th style="width: 8cm;">Number</th>
          <th style="width: 8cm;">Comments</th>
          <th style="width: 8cm;">Date</th>
          <th style="width: 8cm;">Time</th>
          <th style="width: 8cm;">Turf name</th>
         
          
      </tr>
      {% for i in data %}
          <tr style="text-align: center;">
              
              <td>{{i.userid.name}}</td>
              <td>{{i.name}}</td>
              <td>{{i.userid.email}}</td>
              <td>{{i.number}}</td>
              <td>{{i.comments}}</td>
              <td>{{i.date}}</td>
              <td>{{i.time}}</td>
              <td>{{i.turfid.name}}</td>
              
          </tr>
          {% endfor %}


</table>
<div>
    <h1 style="margin-top: 2cm;color: rgb(248, 248, 248);">Decilned Orders</h1>
</div>
<br>


<br><br>
<table border="5" style="color: rgb(247, 246, 244);background-color: rgba(250, 235, 215, 0.307);" align="center" ><tr>
    <th style="width: 8cm;">User id</th>
    <th style="width: 8cm;">Name</th>
    <th style="width: 8cm;">Email</th>
    <th style="width: 8cm;">Number</th>
    <th style="width: 8cm;">Comments</th>
    <th style="width: 8cm;">Date</th>
    <th style="width: 8cm;">Time</th>
    <th style="width: 8cm;">Turf name</th>
    
    
</tr>
{% for i in data1 %}
    <tr style="text-align: center;">
        
        <td>{{i.userid.name}}</td>
        <td>{{i.name}}</td>
        <td>{{i.userid.email}}</td>
        <td>{{i.number}}</td>
        <td>{{i.comments}}</td>
        <td>{{i.date}}</td>
        <td>{{i.time}}</td>
        <td>{{i.turfid.name}}</td>
        
    </tr>
    {% endfor %}


</table>
    
    <div class="container">
      <div class="row">
       
      </div>
      
       
        
      </div>

    </div>
   
      
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}