{% extends 'managerbase.html' %}
{% load static %}
{% block contents %}
{% block home %}


<div>
<div style="background-size:cover;background-image: url({% static 'app_static/images/manager.jpg' %});">
  <div class="container" style="">
    <div class="row align-items-center">
      <br><br><br><br>
      <div>
        <h1 style="margin-top: 2cm;color: rgb(248, 248, 248);">Managers</h1>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">Latest</h2>
        </div>
      </div>
      <div class="container" >
      <div class="row no-gutters">
        <table border="5" style="background-color: rgba(0, 0, 0, 0.347);"><tr>
          <th style="width: 8cm;">Turf Name</th>
          <th style="width: 8cm;">Image</th>
          <th style="width: 8cm;">Description</th>
          <th style="width: 8cm;">Price</th>
          <th style="width: 8cm;">Location</th>
          <th style="width: 8cm;">Approve/Decline</th>
          
      </tr>
      {% for i in data %}
          <tr style="text-align: center;">
              <td style="color: rgb(249, 253, 253);font-size: 1cm;">{{i.name}}</td>
              <td><img src="{{i.image.url}}" alt="" style="height: 5cm;"></td>
              <td style="color: rgb(242, 245, 245);">{{i.description}}</td>
              <td style="color: rgb(247, 252, 252);font-size: 1cm;">{{i.price}}</td>
              <td style="color: rgb(246, 252, 252);font-size: 1cm;">{{i.locationid.name}}</td>
              <td><a href="{% url 'manapprove' id=i.id %}" class="btn btn-primary py-3 px-4 mr-3">Approve</a><br> <br><a href="{% url 'delmanturf' id=i.id %}" class="btn btn-primary py-3 px-4 mr-3">Decline</a></td>
          
          </tr>
          {% endfor %}
      
      
      </table>
        </div>
      </div>
       
        
      </div>

    </div>
   
      
      </div>
    </div>
  </div>

{% endblock %}

{% endblock %}